.app {
  font-size: calc(10px + 2vmin);
  color: #E2E8DD;
  min-width: 1000px;
  font-family: 'Roboto Slab', sans-serif;

}

.app-header {
  background-color: #3D8071;
  position: sticky;
  top: 0;
  height: 5.5rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
  /* min-width: 650px; */
}

.menu-button {
  flex: 0 1 10%;
  > * {
    cursor: pointer;
  }
}

.header-title{
  display: flex;
  flex-direction: column;
  flex: 0 1 70%;
}

.title-main {
  font-size: calc(10px + 3vmin);
  letter-spacing: .15rem;
  font-weight: 700;
}

.title-sub {
  // font-size: calc(10px + 2vmin);
  font-weight: 500;
}

.social-media-container {
  flex: 0 1 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.social-icon {
  margin: 0 5px;
}

.app-main {
  background-color: #204039;
  height: 85rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  /* min-width: 650px; */
}

.menu-drawer-container-active {
  flex: 0 1 15%;
  position: sticky;
  left: 0;
  top: 5.5rem;
  height: calc(100vh - 5.8rem);
  background-color: #9ECCC1;
  z-index: 1;
}

.menu-drawer-container-inactive {
  display: none;
}

.drawer-options-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-drawer-option {
  color: #204039;
  font-weight: 500;
  margin: 10px 2px;
  padding: 10px 15px;
  width: auto;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
}

.menu-drawer-option:hover {
  background-color:rgba(61, 128, 113, .8);
  color: #E2E8DD;
  cursor: pointer;
}

.option-icon {
  display: inline;
  padding-top: 2px;
}

.option-text {
  display: inline;
  padding-left: 10px;
}

.detail-container {
  height: inherit;
  padding: 5px 5px 0px 5px;
  flex: 0 1 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* RESUME */

.resume-page-container {
  height: inherit;
  width: inherit;
  padding: 5px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-header {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.resume-doc {
  margin: 15px;
  padding: 3px;
  border: 3px outset #E2E8DD;
  z-index: 0;
}

.resume-download-wrapper {
  width: auto;
  background-color:rgba(61, 128, 113, .6);
  margin-top: 15px;
  padding: 5px 10px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.resume-download-wrapper:hover{
  background-color:rgba(61, 128, 113, 1);
  color: #E2E8DD;
  cursor: pointer;
}

.download-text {
  font-weight: 600;
}

.download-icon {
  display: inline;
}

/* PROJECTS */

.projects-page-container {
  height: inherit;
  width: inherit;
  padding: 5px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  > span, section {
    padding: 10px 0;
  }
}

.projects-header-container {
  width: 850px;
  display: flex;
  margin: 10px 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  > span {
    width: auto;
    margin: 0 10px;
    padding: 5px 15px;
    border-radius: 25px;
    // background-color: rgba(61, 128, 113, 0.6);
    cursor: pointer;
    &:hover {
      // background-color:rgba(61, 128, 113, 1);
      // color: #E2E8DD;
    }
  }
}

.active-project-option {
  color:rgba(61, 128, 113, 1);
  background-color: #E2E8DD;
  font-weight: 700;
}

.inactive-project-option {
  background-color: rgba(61, 128, 113, 0.6);
  &:hover {
    background-color:rgba(61, 128, 113, 1);
    color: #E2E8DD;
  }
}

.projects-summary-container {
  align-self: flex-start;
  margin: 10px 0;
  width: 600px;
  text-align: left;
  line-height: 1.2;
  .summary-title {
    font-size: calc(10px + 3.5vmin);
    font-weight: 700;
  }
  .summary-tech {
    font-size: calc(10px + 2vmin);
  }
  .summary-bullets {
    font-size: calc(10px + 2vmin);
  }
}

.projects-video-container {
  height: 500px;
  width: 900px;
  border: 5px solid #3D8071;
  background: #E2E8DD;
}
