.app {
  font-size: calc(10px + 2vmin);
  color: #E2E8DD;
  min-width: 650px;
}

.app-header {
  background-color: #3D8071;
  position: sticky;
  top: 0;
  height: 5rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* min-width: 650px; */
}

.menu-button {
  flex: 0 1 10%;
}

.header-title{
  display: flex;
  flex-direction: column;
  flex: 0 1 70%;
}

.title-main {
  font-size: calc(10px + 3vmin);
  letter-spacing: .15rem;
  font-weight: 600;
}

.title-sub {
  font-size: calc(10px + 2vmin);
}

.social-media-container {
  flex: 0 1 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.social-icon {
  margin: 0 5px;
}

.app-main {
  background-color: #204039;
  height: 100rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* min-width: 650px; */
}

.detail-container {
  flex: 0 1 max(calc(100% - 13rem), 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail {
}

.menu-drawer-container-active {
  flex: 0 1 13rem;
  position: sticky;
  left: 0;
  top: 5rem;
  height: calc(100vh - 5rem);
  background-color: #9ECCC1;
}

.menu-drawer-container-inactive {
  display: none;
}

.drawer-options-container {
  padding: 10px 0px 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-drawer-option {
  color: #204039;
  font-weight: 500;
  margin: 10px 2px;
  padding: 10px 15px;
  width: auto;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
}

/* get inspired style from twitter menu */
.menu-drawer-option:hover {
  background-color:rgba(0, 100, 0, 0.2);
  cursor: pointer;
}

.option-icon {
  display: inline;
  /* padding-top: 3px; */
}

.option-text {
  display: inline;
  padding-left: 10px;
}
