.app {
  font-size: calc(10px + 2vmin);
  color: #E2E8DD;
  min-width: 750px;
}

.app-header {
  background-color: #3D8071;
  position: sticky;
  top: 0;
  height: 5rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  /* min-width: 650px; */
}

.menu-button {
  flex: 0 1 10%;
}

.header-title{
  display: flex;
  flex-direction: column;
  flex: 0 1 70%;
}

.title-main {
  font-size: calc(10px + 3vmin);
  letter-spacing: .15rem;
  font-weight: 700;
}

.title-sub {
  font-size: calc(10px + 2vmin);
  font-weight: 500;
}

.social-media-container {
  flex: 0 1 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.social-icon {
  margin: 0 5px;
}

.app-main {
  background-color: #204039;
  height: 90rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* min-width: 650px; */
}

.menu-drawer-container-active {
  flex: 0 1 13rem;
  position: sticky;
  left: 0;
  top: 5rem;
  height: calc(100vh - 5rem);
  background-color: #9ECCC1;
  z-index: 1;
}

.menu-drawer-container-inactive {
  display: none;
}

.drawer-options-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-drawer-option {
  color: #204039;
  font-weight: 500;
  margin: 10px 2px;
  padding: 10px 15px;
  width: auto;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
}

/* get inspired style from twitter menu */
.menu-drawer-option:hover {
  background-color:rgba(61, 128, 113, .8);
  color: #E2E8DD;
  cursor: pointer;
}

.option-icon {
  display: inline;
  /* padding-top: 3px; */
}

.option-text {
  display: inline;
  padding-left: 10px;
}

.detail-container {
  height: inherit;
  padding: 5px 5px 0px 5px;
  flex: 0 1 max(calc(110% - 13rem), 110%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-page-container {
  height: inherit;
  width: max(calc(100% - 13rem), 100%);
  padding: 5px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-header {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.resume-doc {
  margin: 15px;
  padding: 3px;
  border: 3px outset #E2E8DD;
  z-index: 0;
}

.resume-download-wrapper {
  width: auto;
  background-color:rgba(61, 128, 113, .6);
  margin-top: 15px;
  padding: 5px 10px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.resume-download-wrapper:hover{
  background-color:rgba(61, 128, 113, 1);
  color: #E2E8DD;
  cursor: pointer;
}

.download-text {
  font-weight: 600;
}

.download-icon {
  display: inline;
}
